version: '3.8'
services:
  authenticationservice:
    container_name: authenticationservice
    build:
      context: ./AuthenticationService
      dockerfile: Dockerfile
    volumes:
      - /home/img/avatar:/home/img/avatar
    ports:
      - "8082:8082"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  gateway:
    container_name: gateway
    build:
      context: ./gateWay
      dockerfile: Dockerfile
    ports:
      - "10010:10010"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  messagingservice:
    container_name: messagingservice
    build:
      context: ./MessagingService
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  realtimecommunicationservice:
    container_name: realtimecommunicationservice
    build:
      context: ./RealTimeCommunicationService
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
      - "9000:9000"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 512M

  offlinedatastore:
    container_name: offlinedatastore
    build:
      context: ./OfflineDataStore
      dockerfile: Dockerfile
    ports:
      - "8085:8085"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  contactservice:
    container_name: contactservice
    build:
      context: ./ContactService
      dockerfile: Dockerfile
    ports:
      - "8084:8084"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  momentservice:
    container_name: momentservice
    build:
      context: ./MomentService
      dockerfile: Dockerfile
    volumes:
      - /home/img/avatar:/home/img/avatar
    ports:
      - "8086:8086"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Shanghai
      - TZ=Asia/Shanghai
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
